@model List<HotelProject.WebUI.Dtos.AppUserDto.ResultAppUserWithWorkLocationDto>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<div class="col-lg-12">
    <div class="active-member">
        <div class="table-responsive">
            <table class="table table-xs mb-0">
                <thead>
                    <tr>
                        <th>Kullanıcı</th>
                        <th>Çalıştığı Şube</th>
                        <th>Şehir</th>
                        <th>Ülke</th>
                        <th>Durum</th>
                        <th>Cinsiyet</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><img src="@item.ImageUrl" class=" rounded-circle mr-3" alt="">@item.Name @item.Surname</td>
                            <td>@item.WorkLocationName</td>
                            <td>@item.City</td>
                            <td>
                                <span>@item.Country</span>
                            </td>
                            @if (item.Gender == "Erkek")
                            {
                                <td>
                                    <div>
                                        <div class="progress" style="height: 6px">
                                            <div class="progress-bar bg-success" style="width: 90%"></div>
                                        </div>
                                    </div>
                                </td>
                            }
                            @if (item.Gender == "Kadın")
                            {
                                <td>
                                    <div>
                                        <div class="progress" style="height: 6px">
                                            <div class="progress-bar bg-warning" style="width: 90%"></div>
                                        </div>
                                    </div>
                                </td>
                            }

                            @if (item.Gender == "Erkek")
                            {
                                <td><i class="fa fa-circle-o text-success  mr-2"></i> Erkek</td>
                            }
                            @if (item.Gender == "Kadın")
                            {
                                <td><i class="fa fa-circle-o text-warning  mr-2"></i> Kadın</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<br />
<a href="/Register/Index/" class="btn btn-primary">Yeni Kullanıcı Kaydı</a>